<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Registration</title>
</head>
<body>
    <h2>Course Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.course_name.label_tag }}
        {{ form.course_name }}
        {{ form.course_name.errors }}

        <br>

        {{ form.material_title.label_tag }}
        {{ form.material_title }}
        {{ form.material_title.errors }}

        <br>

        <button type="submit">Register</button>
    </form>
</body>
</html>